strict-ssl=false
registry=https://front-stb-dev.canal-bis.com/npm-fronttv/
//front-stb-dev.canal-bis.com/npm-fronttv/:_authToken="gDAbHHuLSdCwSyYZiaSa6KpwjfmsHKuS6+1GgyqcpjM="
@babel:registry=https://registry.npmjs.org/
@types:registry=https://registry.npmjs.org/
@storybook:registry=https://registry.npmjs.org/
@sinonjs:registry=https://registry.npmjs.org/
@sindresorhus:registry=https://registry.npmjs.org/
@webassemblyjs:registry=https://registry.npmjs.org/
@webpack-contrib:registry=https://registry.npmjs.org/
@mrmlnc:registry=https://registry.npmjs.org/
@nodelib:registry=https://registry.npmjs.org/
@xtuc:registry=https://registry.npmjs.org/
